<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<h3>Comments</h3>
<div class="comments_list">
  <%= render :partial => @post.comments.reverse %>
</div>
<div class="form">
<%= form_for [@post, Comment.new], remote: true do |f| %>
<%= f.label :body, "New Comment" %>
  <div><%= f.text_area :body %>
  <%= f.submit "Add Comment" %>
<% end %>
</div>